@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <section>

      <h1 class="text-center mt-5">Bienvenidos a mercado libre donde puedes comprar todo lo que deseas</h1>

</section>
</div>
